.Button_text {font-family:'Open Sans';font-weight:bold;font-style:normal;font-size:27pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Normal_text_a {font-family:'Poppins';font-weight:normal;font-style:normal;font-size:12pt;text-decoration:none;text-transform: none;color:#E0E0E0;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Cabin';font-weight:bold;font-style:normal;font-size:86pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.TITLE {font-size:100pt;}
.Heading_2 {font-size:60pt;}
.Heading_3 {font-size:48pt;}
